doctype html
html
    head
        meta(charset='utf-8')
        title
    body
        .Message
            .Message-inner
                h1 ECMA6imize
                p This is a site generator
        
        script(type='text/javascript', src='assets/scripts/head.js')
        script(type='text/javascript', src='assets/scripts/main.js')
        link(rel='stylesheet', type="text/css", href="assets/styles/main.css")
