head
    meta(charset='utf-8')
    title #{ page.title }
    
    link(rel='stylesheet', type="text/css", href="assets/styles/main.css")
    script(type='text/javascript', src='assets/scripts/head.js')
