block vars
    - var page = { canonical: "", description: "", lang: "", path: "", title: "", og: {}, twitter: {} }
    - var htmlClass = null
    - var htmlId = null
    - var bodyClass = null
    - var bodyId = null
