$font-size-default: 16px;

$font-size-m: 16px;
$font-size-ml: 20px;
$font-size-l: 24px;
$font-size-s: 12px;
$font-size-xs: 10px;
$font-size-xxs: 9px;
$font-size-xxxs: 8px;

$font-family-default: sans-serif;

$fs-min: 1rem;
$fs-h1: 3 * $scale * 1rem;

/* include custom typographic configs here */
